### Python Review Assignment
16 points

Due by midnight September 9, 2022


**To avoid erasing the sample output, please insert a new cell above the sample output**. Write your script inside the new cell and run. Verify your output with the sample output

For lab submission, please rename your file using the following format

`firstname_familyname_Lab1.ipynb`

In [ ]:
# please enter your name and 700# in this cell

Kalyan Matta
700741948

### Task 1
Define a string `s1` with content 'Good morning John'. Count the number of characters in `s1`

In [1]:
s1 = 'Good morning John'

In [4]:
print(len(s1))

17

17

### Task 2
Check if the word 'morning' is contained in `s1`

In [5]:
s1 = 'Good morning John'

In [7]:
print("morning" in s1)

True

True

### Task 3
Use a function to replace 'John' with 'David' in `s1`. Show the content of the new string

In [ ]:
s1 = 'Good morning John'

In [8]:
s1.replace("John","David")

'Good morning David'

'Good morning David'

### Task 4
Use your UCM email address to create a string s2. Extract the string `ucmo.edu`

In [9]:
s2 = "kxm19480@ucmo.edu"

In [10]:
s3 = s2.split('@')
s3[1]

'ucmo.edu'

'ucmo.edu'

### Task 5
Create a list x with integers from 1 to 30. Create a new list y which only conatins the odd numbers from list x. You are not allowed to mannually type out the lists

In [11]:
x = list(range(1,31))

In [12]:
y = [i for i in x if i % 2 != 0]
print(y)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

### Task 6
Create a new list z with each element is a squre of the corresponding element from list y. You are not allowed to mannually type out the list

In [1]:
y = list(range(1,31,2))
#print(y)

In [14]:
z = [i**2 for i in y]
print(z)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841]

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841]

### Task 7
Extract `[729, 625, 529, 441, 361, 289, 225, 169]` from list z. You are not allowed to mannually type out the list

In [2]:
z = [i**2 for i in range(1,30,2)]
#len(z)

In [16]:
z[13:5:-1]

[729, 625, 529, 441, 361, 289, 225, 169]

[729, 625, 529, 441, 361, 289, 225, 169]

### Task 8
Reverse the order of z. You are not allowed to mannually type out the list

In [3]:
z = [i**2 for i in range(1,30,2)]
#print(z)

In [18]:
z[::-1]

[841, 729, 625, 529, 441, 361, 289, 225, 169, 121, 81, 49, 25, 9, 1]

[841, 729, 625, 529, 441, 361, 289, 225, 169, 121, 81, 49, 25, 9, 1]

### Task 9
Given the following list, extract the string 'Get Me'

In [20]:
lst = [1, 2, [3, 4], [5, [100, 200, ['Get Me']], 300, 11], 1, 9]

In [21]:
lst[3][1][2][0]

'Get Me'

'Get Me'

### Task 10
Sort the following list of strings by their lengths. You are not allowed to mannually type out the list

In [23]:
x = ['ccc', 'dddd', 'bb', 'ggggggg', 'a', 'eeeee', 'ffffff']

In [24]:
x.sort(key = len)
print(x)

['a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff', 'ggggggg']

['a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff', 'ggggggg']

### Task 11
Extract the string 'Get Me' from the following dictionary d

In [25]:
d = {'k1':[1, 2, 3, {'tricky':['oh', 'man', 'crazy', {'target':[1, 2, 3, 'Get Me']}]}]}

In [26]:
d["k1"][3]["tricky"][3]["target"][3]

'Get Me'

'Get Me'

### Task 12
Use lambda expressions and the `filter()` function to filter out words from the following list that don't start with the letter 's'

In [28]:
seq = ['soup', 'apple', 'salad', 'banana', 'spaghetti', 'spinach', 'kiwi']

In [29]:
z  = list(filter(lambda x : not x.startswith('s'),seq))
print(z)

['apple', 'banana', 'kiwi']

['apple', 'banana', 'kiwi']

### Task 13
Count the number of unique characters in the following string s. Please ignore the white space and character case. For example, 'P' and 'p' are considered as one character

In [30]:
s = 'Python programming is fun'

In [31]:
x = set(s.lower().replace(" ",""))

print(len(x))

14

14

### Task 14
Use lambda expressions and the `map()` function to count the length of each string in the list

In [32]:
seq = ['soup', 'apple', 'salad', 'banana', 'spaghetti', 'spinach', 'kiwi']

In [33]:
z = list(map(lambda x: len(x),seq))
print(z)

[4, 5, 5, 6, 9, 7, 4]

[4, 5, 5, 6, 9, 7, 4]

### Task 15
Create a function that counts the number of times the word 'dog' occurs in a string. Ignore edge cases.

In [34]:
def countDog(s):
    t = s.split(" ")
    n = t.count("dog")
    return n

countDog('This dog looks differently from that dog in the dog shelter!')

3

3

### Task 16
A police officer stopped you as you were driving a little too fast. Write a function to return one of four possible results: 'No ticket', 'Small ticket', 'Big Ticket' or 'Go To Jail'. If your speed is 65 or less, the result is "No Ticket". If speed is between 66 and 80 inclusive, the result is "Small Ticket". If speed is between 81 and 90 inclusive, the result is "Big Ticket". If speed is 91 or more, the result is "Go to Jail". Unless it is your birthday (encoded as a Boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. Your function receives two inputs: one is an integer for speed and another is a Boolean to indicate whether today is your birthday or not.

In [1]:
def ticket(speed, bday):
    if bday == True:
        speed -= 5
    if speed <= 65:
        print("No Ticket")
    elif speed >= 66 and speed <= 80:
        print("Small ticket")
    elif speed >= 81 and speed <= 90:
        print("Big Ticket")
    elif speed >= 91:
        print("Go to jail")

In [2]:
ticket(92, False)

Go to jail

In [3]:
ticket(92, True)

Big Ticket

In [36]:
ticket(92, False)

Go To Jail

In [37]:
ticket(92, True)

Big Ticket